@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* custom scroll bar */
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

@layer components {
  .container {
    @apply w-[90%] md:w-[85%] lg:w-[80%] xl:max-w-[1300px] mx-auto;
  }

  .margin {
    @apply mt-14 md:mt-20 lg:mt-28;
  }

  img {
    @apply block w-full object-cover;
  }

  input,
  textarea {
    @apply w-full px-6 py-3 rounded-md bg-transparent border border-[lightgray] resize-none text-[#333] outline-none font-poppins;
  }

  .menuItem {
    @apply block text-lg font-medium transition-colors duration-300 ease-linear hover:text-[crimson];
  }

  .hero {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    background: url("./assets/polt.jpg") no-repeat center center/cover;
    background-attachment: fixed;
    font-family: "Ubuntu", sans-serif;
    position: relative;
    overflow: hidden;
    z-index: 11;
  }
  .hero::after {
    content: "";
    position: absolute;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: -1;
  }
}
